@font-face {
  font-family: ComicRelief;
  src: url(ComicRelief.ttf);
}

html {
    background-color: #e6e9e9;
    --fnt: ComicRelief;
}

body {
    margin: auto;
    max-width: 1000px;
    color: #545454;
    background-color: white;
    font-family: var(--fnt);
    box-shadow:  0px 100px 50px -40px #ffffff,
        0px -100px 50px -40px #ffffff,
        -5px 0px 10px -5px rgba(0,0,0,0.5),
        5px 0px 10px -5px rgba(0,0,0,0.5);
}

/*MENU*/
.fixed-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    width: 100%;
    height: 3em;
    background-color: #d41313;
    box-shadow:  0px 100px 50px -40px #ffffff,
        0px -100px 50px -40px #ffffff,
        0px -7px 10px -5px rgba(0,0,0,0.5),
        0px 7px 10px -5px rgba(0,0,0,0.5);
    /*box-shadow: 0 4px 2px -2px gray;*/
}

.topmargin {
    margin-top: 3em;
}

.fixed-menu li, .fixed-menu a {

}

.menu {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.menu a, .menu a:visited {
    color: #ffffff;
}

.menu a:hover, .menu a:target {
    color: #ebebeb;
}

.menu-items {
    display: inline-block;
}

.sitename {
    display: inline-block;
    margin-top: 0.2em;
    margin-right: 1em;
    margin-left: 1em;
    font-size: 1.6em;
}

a.sitename, a:visited.sitename {
    color: #ffffff;
    text-decoration: none;
}
.menu-items li {
  display: inline-block;
  margin-left: 1em;
}
.menu-items a {
  text-decoration: none;
  margin-right: 1em;
}
.show, .hide {
  display: none;
  padding-left: 1em;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center left;
  color: #dde1e2;
  font-size: 1.8em;
}
.show {
    background-image: url(bilder/PilNer.svg);
}
.hide {
  background-image: url(bilder/PilUp.svg);
}

@media only screen and (max-width: 1010px) {
  .menu {
    position: relative;
    width: 100%;
  }
  .sitename {
      position: absolute;
      margin-top: 0.2em;
      text-decoration: none;
      font-size: 1.8em;
  }
  .menu-items {
      display: none;
      width: 100%;
      margin-top: 3em;
      background-color: #d41313;
      padding-left: 0;
      box-shadow: 0 4px 2px -2px gray;
  }
  .menu-items li {
      display: block;
      text-align: center;
      padding-bottom: 0.5em;
      padding-top: 0.5em;
      font-size: 1.8em;
  }
  .show, .hide {
      position: absolute;
      top: 0.2em;
      right: 1em;
      text-decoration: none;
  }
  .show {
    display: inline-block;
  }
  .hide {
    display: none;
  }
  #menu:target .show {
    display: none;
  }
  #menu:target .hide, #menu:target .menu-items {
    display: inline-block;
  }
}

@media only screen and (max-width: 220px) {
  .sitename, .show, .hide {
    font-size: 14px;
  }
}

/*SITE*/
.header {
    padding-top: 2em;
}

.header h1 {
    font-size: 3.3em;
    color: black;
}

.header img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content {
    font-size: 1.3em;
    line-height: 1.5em;
    padding-bottom: 2em;
}

.content a {
    color: #545454;
}

.content h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    line-height: 1.3em;
}

.background{
    background-color: #d41313;
    color: snow;
    margin: 8em 4em;
    border-radius: 1em;
    box-shadow: 0 4px 2px -2px gray;
}

#vi ul {
    list-style: none;
    padding-left: 0;
}

#contactform{
    padding: 0em 2em 2em 2em;
}

input, textarea {
    font: 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
}

textarea {
    vertical-align: top;
    height: 5em;
    width: 100%;
}

.footer {
    background-color: dimgray;
    font-size: 0.9em;
}

.footer ul {
    padding-left: 0;
    list-style: none;
    color: white;
    font-size: 1.5em;
}

.padding {
    padding-left: 5em;
    padding-right: 5em;
}

.insidepadding {
    padding: 1em 2em;
}

@media only screen and (max-width: 600px){
    .padding {
        padding-left: 2em;
        padding-right: 2em;
    }

    .background {
        margin: 2em 0;
    }

    #footer {
        font-size: 0.6em;
    }
}

.image{
    margin: 1em 2em;
    border-radius: 1em;
    width: 150px;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

#ans, #ans a {
    font-size: 1.1em;
    color: white;
}

/*
Below taken from: https://www.w3schools.com/howto/howto_js_slideshow.asp
*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  margin-right: 3em;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
  margin-left: 3em;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
  max-width: 4179px;
  max-height: 2282px;
  width: auto;
  height: auto;
}

/* Fading animation */
.fade {
  -webkit-animation: fadeinout 4s linear forwards;
  animation: fadeinout 4s linear forwards;
}

@-webkit-keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
  }
  
@keyframes fadeinout {
0%,100% { opacity: 0; }
50% { opacity: 1; }
}

.imgSize {
    max-height: 400px;
    max-width: 1500px;
    height: auto;
    width: auto;
}  
